.pad-button {
  height: 50px;
  width: 50px;
  border: 2px solid #444;
}

.pad-button:hover {
  background-color: #444;
  cursor: pointer;
}

.drum-pad {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}

.drum-type {
  justify-content: center;
  margin-right: 8px;
}
