.Playlist {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  overflow-y: auto;
}

.Playlist h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.Playlist input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Playlist input[type="text"]:focus {
  outline: none;
  border-color: #0072c3;
  box-shadow: 0 0 3px 1px rgba(0, 114, 195, 0.3);
}

.Playlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Playlist li {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease-in-out;
  user-select: none;
}

.Playlist li div {
  cursor: pointer;
  pointer-events: auto;
}

.Playlist li:last-child {
  border-bottom: none;
}

.Playlist li:hover {
  background-color: #f0f0f0;
  cursor: pointer !important;
  pointer-events: auto;
}

.random-song {
  color: #0072c3;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 16px;
  transition: color 0.3s ease-in-out;
}

.random-song:hover {
  color: #005ba1;
}

.search-bar {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-bar:focus {
  outline: none;
  border-color: #0072c3;
  box-shadow: 0 0 3px 1px rgba(0, 114, 195, 0.3);
}
